// ==================== sass variables, mixins, functions ====================
$colours: (
  dark: #2A2D43,
  light: #FFA9E7,
  white: #FFF
);

$desktop: 1085px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@function colour($colour-name) {
  @return map-get($colours, $colour-name)
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,400i,700,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --fs-h1: calc(2rem + 2.75vw);
}

body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: colour(dark);

  

  #bg {
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 65%);
    background-color: colour(white);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}

//  ==================== header ====================
h1  {
  text-align: center;
  padding: 20px 0 40px 0;
  font-size: var(--fs-h1);
}

// ==================== main ====================
main  {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "search"
    "map"
    "results"
    ;
  gap: 20px;

  @include desktop {
    grid-template-columns: 0.5fr minmax(auto, 700px) minmax(auto, 700px) 0.5fr;
    grid-template-areas: 
    ". search map ."
    ". results results ."
    ;
  }

  .search-container {
    grid-area: search;
    width: 100%;
    padding: 0 20px;

    @include desktop {
      padding-top: 50px;
    }

    form {

      .form-box {
        margin-bottom: 10px;

        #input-city, #input-cuisine {
          width: 100%;
          height: 2rem;
          text-indent: 20px;
        }

        #button-search {
          width: 100%;
          height: 2.5rem;
          text-align: center;
          font-weight: 700;
          border-radius: 20px;
          border: none;
          margin-top: 20px;
          background-color: colour(light);
        }

        #button-search:hover {
          font-size: 1rem;
        }
      }
    }
  }

  .map-container {
    grid-area: map;
    width: 100%;

    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-auto-rows: 400px;
    grid-template-areas: ". mapBox .";
    
    .map-box {
      grid-area: mapBox;
      display: block;
      width: 100%;
      background-color: colour(white);
    }
  }

  .results-container {
    grid-area: results;

    .results-box {
      margin: 0 20px;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
      gap: 20px;

      .results-div {
        background-color: colour(white);
        padding: 10px;
        display: flex;
        align-items: center;

        .img {
          display: inline-block;
        }

        .text {
          color: colour(dark);
          display: inline-block;
          padding-left: 20px;

          .details {
            line-height: 1.4;
          }
          
          .restaurant {
            font-weight: 700;
            font-size: 1.2 rem;
          }

          .rating {
            color: rgb(243, 51, 60);
            font-weight: 700;
          }
        }
      }  
    }
  }
}

// ==================== footer ====================
footer {
  grid-area: footer;
  background-color: colour(white);
  text-align: center;
  margin-top: 20px;
  
}


